
    <md-card layout="row">
        <md-card-content >
            <md-switch layout-align="none end" ng-model="isActive" aria-label="Finished?">
            </md-switch>
            <div layout-align="center center"><i class="material-icons">wb_sunny</i></div>
        </md-card-content>
    </md-card>

    <md-card layout="row">
        <md-card-content>
            <i class="material-icons" layout-align="center center">wb_sunny</i>
        </md-card-content>
    </md-card>
    <md-card layout="row">
        <md-card-content>
            <h4>2Card headline</h4>
            <p>Card content</p>
        </md-card-content>

    </md-card>



<md-card layout="column" flex="60" layout-align="none end">
    <img src="/images/1.jpg" class="md-card-image" alt="image caption">
    <md-card-content>
        <h2>right</h2>
        <p>Card content</p>
    </md-card-content>
    <md-card-footer>
        Card footer
    </md-card-footer>
</md-card>